/* sec01 */
section.sec01 {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(145deg, #FFCBA7 30%, #FFDDBB 60%, #F3EADA);
}

section.sec01 .inner {
    width: 80%;
    vertical-align: middle;
    padding: 25vh 0 0;
    margin: 0 auto;
}

section.sec01 h1 {
    font-size: 16vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

section.sec01 h1 span.ti-cursor {
    font-size: 16vh;
    font-weight: normal;
    margin-left: .5vw;
}

section.sec01 p {
    font-size: 10vh;
    line-height: 1;
}

/* sec02 */
section.sec02 {
    padding: 15vh 0;
}

section.sec02 .inner {
    width: 80%;
    margin: 0 auto;
}

.cateWrap {width: 100%;padding: 40px 0px;}
.cateWrap ul {width: 100%;margin: 0 auto;font-size: 0;text-align: center;}
.cateWrap ul li {display: inline-block;width: 10vw;margin-right: 12px;height: 5vh;line-height: 5vh;text-align: center;font-size: 2vh;border: 1px dashed #767676;color: #767676;background: #fff;border-radius: 50px;cursor:pointer;}
.cateWrap ul li:nth-child(7n) {margin-right: 0;}
.cateWrap ul li.active {font-weight: 500;border: 1px solid #f4534e;color: #f4534e;}

.total {width: 1220px;margin: 37px auto 0;padding: 0 10px;box-sizing: border-box;}
.total p {font-size: 16px;color: #191919;}
.total p .cnt {color: #ee4a44;font-weight: 500;}

.contWrap {width: 8;margin: 40px auto 0;}
.contWrap ul {font-size: 0;}
.contWrap li {display: inline-block;width: calc((100% - 48px) / 3);margin: 0 8px;vertical-align: top;cursor: pointer; margin-bottom:50px;}
.contWrap li.off {display:none;}
.contWrap li:nth-child(3n) {/*margin-right: 0;*/}
.contWrap li .imgWrap {width: 100%;height: 240px;position: relative;overflow: hidden;border-radius: 10px 10px 0 0;}
.contWrap li .imgWrap img {width: 100%;height: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;object-fit: cover;}
.contWrap li .slider .imgWrap {display: none;}
.contWrap li .slider .imgWrap:first-child {display: block;}
.contWrap li .txtWrap {padding: 25px 20px;background: #f4f4f4;border-radius: 0 0 10px 10px;}
.contWrap li .txtWrap .txtBx {display:none; color: #333333;font-size: 16px;line-height: 1.5;height: 50px;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2; /* ¶óÀÎ¼ö */-webkit-box-orient: vertical;word-wrap:break-word;/* line-height °¡ 1.2em ÀÌ°í 3¶óÀÎÀ» ÀÚ¸£±â ¶§¹®¿¡ height´Â 1.2em * 3 = 3.6em */}
.contWrap li .txtWrap .writer {color: #999999;font-size: 16px;margin-top: 10px;}




#popWrap {position: fixed;top: 50%;left: 50%;opacity:0;transform: translate(-50%,-50%);z-index: 101;}
#popWrap h3 {text-align: center;color: #ffffff;font-weight: 500;margin-bottom: 30px;font-size: 3.5vh;}
#popWrap h3 .pop_pg {position: unset;}
#popWrap .popCont {width: 980px;height: 540px;overflow: hidden;margin: 0 auto;}
#popWrap .popCont ul {height:100%;}
#popWrap .contBx {width: 980px;height: 540px;align-items: center;border-radius: 20px;overflow: hidden;}
#popWrap .contBx .slider {background:#000; position:relative;}
#popWrap .contBx .slick-arrow {position: absolute;top: 42%;transform: translateY(42%);width: 20px;height: 20px;border-radius: 50%;text-indent: -9999px;background: #000;z-index: 9;}
#popWrap .contBx .slick-arrow.slick-prev {left: 20px;}
#popWrap .contBx .slick-arrow.slick-next {right: 360px;}
#popWrap .contBx .imgWrap {width: 640px !important;height: 540px;background: #000000;position: relative;overflow-y: scroll;}
#popWrap .contBx .imgWrap img {position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;/* height: 100%; */object-fit: contain;}
#popWrap .contBx .txtWrap {position: absolute;top: 0;right: 0;z-index: 99;width: 340px;background: #fff;box-sizing: border-box;border-radius: 0 20px 20px 0;height: 100%;font-size: 16px;color: #767676;line-height: 1.5;}
#popWrap .contBx .txtWrap p {padding: 40px 30px;width: 100%;box-sizing: border-box;}
#popWrap .contBx .txtWrap p.txtBx {display: -webkit-box; max-height: 455px; overflow: auto;}
#popWrap .contBx .txtWrap p.writer {position: absolute;bottom: 0;border-top: 1px solid #dbdbdb;padding: 30px;}
#popWrap .pop_prev, 
#popWrap .pop_next {display: inline-block;width: 33px;height: 63px;background: center / 33px 63px no-repeat;}
#popWrap .pop_next::after, 
#popWrap .pop_prev::after {display: none;}
#popWrap .pop_prev {left: -83px;background-image: url(../img/ico_pop_lt.png);}
#popWrap .pop_next {right: -83px;background-image: url(../img/ico_pop_rt.png);}
#popWrap .pop_close {position: fixed;top: 6px;right: 0;cursor:pointer}
#popWrap .pop_close img {
    width: 65%;
}

.dataWrap {display: none;}
.layer-open {overflow:hidden;}


#popWrap h3 .cateName, #popWrap h3 .pop_pg > span {
    color: #fff !important;
}

.txtBx {
    padding: 30px;
}

.tPer {
    width: 100%;
    height: 3vh;
    border-radius: 3px;
    background-color: #f3f3f3;
    opacity: .8;
    margin-top: 1vh;
}

.tPer .box {
    background: #FFCBA7;
    border-radius: 3px;
    width: 0;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out 0.7s;
    -moz-transition: all 0.5s ease-in-out 0.7s;
    -ms-transition: all 0.5s ease-in-out 0.7s;
    -o-transition: all 0.5s ease-in-out 0.7s;
    transition: all 0.5s ease-in-out 0.7s;
}

.info {
    margin-top: 3vh;
}
#popWrap li.swiper-slide-active .tPer .box.w10 {
    width: 10%;
}
#popWrap li.swiper-slide-active .tPer .box.w20 {
    width: 20%;
}
#popWrap li.swiper-slide-active .tPer .box.w30 {
    width: 30%;
}
#popWrap li.swiper-slide-active .tPer .box.w40 {
    width: 40%;
}
#popWrap li.swiper-slide-active .tPer .box.w50 {
    width: 50%;
}
#popWrap li.swiper-slide-active .tPer .box.w60 {
    width: 60%;
}
#popWrap li.swiper-slide-active .tPer .box.w70 {
    width: 70%;
}
#popWrap li.swiper-slide-active .tPer .box.w80 {
    width: 80%;
}
#popWrap li.swiper-slide-active .tPer .box.w90 {
    width: 90%;
}
#popWrap li.swiper-slide-active .tPer .box.w100 {
    width: 100%;
}
#popWrap li:not('.swiper-slide-active') .tPer .box { width:0 !important;}